// .container {
// // От 320px мобильная версия
// width: 280px; // либо auto, если макет резиновый
// padding: 0 20px; // не забываем про отступы контента от краёв
// margin: 0 auto;
// // От 660px планшетная версия
// @media (min-width: 660px) {
//   width: 620px; // либо auto, если макет резиновый
//   padding: 0 20px; // не забываем про отступы контента от краёв
// }

// // От 980 десктопная версия
// @media (min-width: 980px) {
//   width: 940px; // на десктопе контент обычно фиксированной ширины
//   padding: 0 20px; // не забываем про отступы контента от краёв
//   // Результат: бесшовный переход от планшета к десктопу
// }

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}
