.contest__title {
  background: #cccccc url("../img/bg-back-mobile@1x.jpg") 50% 0/cover no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  margin-bottom: 50px;
}

.contest__title-text {
  text-align: center;
  margin: 0 auto;
  max-width: 240px;
  padding: 94px 0 44px 0;

  @include text (300, 24px, 33px, #FFFFFF);
  // ($font-weight, $font-size, $line-height, $color)
}

.contest__text {
  width: 280px;
  margin: 0 auto;
  text-align: center;

  margin-bottom: 35px;

  @include text (400, 14px, 30px, #283645);
  // ($font-weight, $font-size, $line-height, $color)
}

@media (min-width: 320px) {
  .contest__title {
    background-image: url("../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }
}

@media (min-width: 660px) {
  .contest__title {
    margin-bottom: 85px;
  }

  .contest__title-text {
    padding: 176px 0 60px 0;
    max-width: 520px;
    font-size: 50px;
    line-height: 68px;
  }

  .contest__text {
    font-size: 18px;
    width: 490px;
    margin-bottom: 62px;
  }
}

@media (min-width: 980px) {
  .contest__title {
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .contest__title-text {
    padding: 169px 0 89px 0;
    max-width: 760px;
  }

  .contest__text {
    width: 760px;
  }
}
