.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright__text {
  @include text (400, 14px, 18px, #283645);
  // ($font-weight, $font-size, $line-height, $color)
}

.copyright__link {
  display: block;
  margin-left: 15px;

  & path {
    @include animation;
  }

  &:hover path,
  &:focus path {
    fill: #283645;
  }

  &:active path {
    opacity: 0.3;
  }
}
