.download {
  background-color: #1d2631;
  padding: 28px 0 35px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download__btn {
  padding: 13px 35px 13px 35px;
  display: inline-block;
  background-color: transparent;
  border: 3px solid #ffffff;
  border-radius: 29px;
  font: inherit;

  @include text (700, 18px, 18px, #ffffff);
  // ($font-weight, $font-size, $line-height, $color)
  line-height: normal;

  margin-bottom: 32px;

  @include animation;

  &:hover,
  &:focus {
    color: #d22856;
    background-color: #ffffff;
    box-shadow: 0 5px 7px rgba(1, 1, 1, 0.75);
  }

  &:active {
    background-color: #ffffff;
    border: 3px solid #ffffff;
    color: #d22856;
    box-shadow: none;

    opacity: 0.3;
  }
}

.download__list {
  display: inline-flex;
  width: 204px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.download__link {
  display: block;

  &--apple {
    width: 47px;
    height: 56px;
    background-image: url("../img/logo-apple.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--android {
    width: 43px;
    height: 47px;
    background-image: url("../img/logo-android.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--microsoft {
    width: 44px;
    height: 41px;
    background-image: url("../img/logo-microsoft.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.download__text {
  text-align: center;
  max-width: 230px;

  @include text (300, 14px, 24px, #FFFFFF);
  // ($font-weight, $font-size, $line-height, $color)
}

@media (min-width: 660px) {
  .download {
    background-color: transparent;
    width: 300px;
  }

  .download__btn {
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 46px;
  }

  .download__list {
    margin-bottom: 35px;
  }

  .download__text {
    font-size: 18px;
    max-width: 300px;
  }
}

@media (min-width: 980px) {
  .download__btn {
    margin-bottom: 67px;
  }

  .download__list {
    margin-bottom: 55px;
  }
}
