.form {
  display: flex;
  flex-direction: column;
}

.form__box {
  margin-bottom: 32px;

  &--background {
    background-color: #f2f2f2;
  }

  &--top {
    //
  }

  &--checkbox {
    padding-top: 39px;
    margin-bottom: 32px;
  }

  &--info {
    margin-bottom: 27px;
  }

  &--radio {
    padding-top: 39px;
    margin-bottom: 40px;
  }

  &--textarea {
    margin-bottom: 46px;
  }

  &--submit {
    margin-bottom: 23;
  }
}

.form__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.form__label {
  margin-bottom: 5px;
  padding-left: 21px;

  @include text (400, 14px, 30px, #D22856);
  // ($font-weight, $font-size, $line-height, $color)
  text-transform: uppercase;

  &--info {
    //
  }
}

.form__input {
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  outline: none;
  padding: 14px 20px;
  font-style: normal;

  @include text (400, 18px, 30px, #283645);
  @include animation;

  &::placeholder {
    font-family: inherit;
    font-style: normal;

    @include text (400, 18px, 30px, #283645);
  }

  &:hover {
    border-color: #283645;
  }

  &:focus,
  &:active {
    border-color: #d22856;
  }
}

.form__box-legend {
  width: 220px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 38px;

  @include text (400, 14px, 18px, #D22856);
  // ($font-weight, $font-size, $line-height, $color)
  text-transform: uppercase;

  &--checkbox {
    //
  }

  &--info {
    display: none;
  }

  &--radio {
    //
  }

  &--textarea {
    display: block;
    margin-bottom: 20px;
  }
}

.form__textarea {
  width: 100%;
  border: 2px solid #e5e5e5;
  border-radius: 1px;

  @include text (400, 18px, 30px, #283645);

  resize: none;
  outline: none;
  padding: 13px 20px 34px;

  @include animation;

  &::placeholder {
    color: #283645;
  }

  &:hover {

    border-color: #283645;
  }

  &:focus,
  &:active {
    border-color: #d22856;
  }
}

.form__submit-btn {
  border: 0;
  cursor: pointer;
  display: block;
  text-align: center;
  background-color: #2aab6d;

  width: 100%;

  @include text (700, 18px, normal, #ffffff);

  text-transform: uppercase;
  border-radius: 1px;
  padding: 21px 10px 22px 10px;
  margin-bottom: 34px;

  @include animation;

  &:hover,
  &:focus {
    background-color: #1c9b5e;
  }

  &:active {
    background-color: #1c9b5e;
    color: rgba(#ffffff, 0.3);
  }

  &:active:disabled {
    background-color: #e5e5e5;
  }
}

.form__note {
  width: 183px;

  @include text (400, 14px, 30px, #283645);
  text-transform: uppercase;

  &--pink {
    color: #d22856;
  }

  &--hidden {
    display: none;
  }
}

@media (min-width: 660px) {
  .form__box {
    position: relative;
    border: 2px solid #e5e5e5;
    border-radius: 1px;

    margin-left: 20px;
    margin-right: 20px;

    &--background {
      background-color: transparent;
    }

    &--top {
      order: 1;
      border: 0;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 70px;
    }

    &--checkbox {
      order: 4;
      padding-top: 54px;
      padding-left: 40px;
      margin-bottom: 70px;
    }

    &--info {
      order: 3;
      padding-top: 46px;
      padding-left: 40px;
      padding-right: 40px;
      margin-bottom: 70px;
    }

    &--radio {
      order: 2;
      padding-top: 54px;
      margin-bottom: 70px;
    }

    &--textarea {
      order: 5;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 47px;
      padding-bottom: 51px;
      margin-bottom: 70px;
    }

    &--submit {
      order: 6;
      border: 0;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 50px;
    }
  }

  .form__item {
    &--top {
      flex-direction: row;
      text-align: center;
      margin-bottom: 56px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &--info {
      margin-bottom: 12px;
      position: relative;
    }

    &--tel::before {
      display: block;
      content: "";
      position: absolute;
      top: 2px;
      right: 2px;
      width: 59px;
      height: 58px;
      background-color: #e5e5e5;
      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px 19px;
    }

    &--email::before {
      display: block;
      content: "";
      position: absolute;
      top: 2px;
      right: 2px;
      width: 59px;
      height: 58px;
      background-color: #e5e5e5;
      background-image: url("../img/icon-mail.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 18px 13px;
    }
  }

  .form__label {
    &--top {
      margin-bottom: 0;
      padding-left: 0;
      display: flex;
      align-items: center;
      margin-right: 20px;
    }

    &--info {
      order: 2;
      margin-bottom: 0;
      margin-top: 12px;
    }
  }

  .form__input {
    flex: 1 1 auto;
  }

  .form__item--info .form__input {
    padding-right: 79px;
  }

  .form__box-legend {
    margin-bottom: 0;

    position: absolute;
    top: -9px;
    left: 50%;

    background-color: #ffffff;


    &--checkbox {
      width: 436px;
      margin-left: -218px;
    }

    &--info {
      width: 260px;
      margin-left: -130px;
      display: block;
    }

    &--radio {
      width: 380px;
      margin-left: -190px;
    }

    &--textarea {
      width: 260px;
      margin-left: -130px;
    }
  }

  .form__submit-btn {
    width: 296px;
    margin-bottom: 0;
  }

  .form__row--submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 980px) {
  .form {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 940px;
    margin: 0 auto;
  }

  .form__box {
    &--top {
      width: 433px;
      margin-right: 74px;

      & .container {
        padding: 0;
      }
    }

    &--checkbox {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding-right: 40px;
    }

    &--info {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding-left: 60px;
      padding-right: 60px;

      & .container {
        padding: 0;
      }
    }

    &--radio {
      margin-left: 0;
      margin-right: 0;
      width: 431px;
    }

    &--textarea {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }

    &--submit {
      width: 100%;
      margin-bottom: 0;

      & .container {
        padding: 0;
      }
    }
  }

  .form__item--info {
    width: 371px;
  }

  .form__row--info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .form__note {
    width: 314px;

    &--hidden {
      display: inline;
      color: #283645;
    }
  }
}
