.like-block {
  width: 119px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 484px) {
    width: auto;
  }
}

.like-block__btn {
  width: 13px;
  height: 12px;
  background-image: url("../img/heart1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.like-block__text {
  @include text (400, 12px, 24px, #d22856);
  // ($font-weight, $font-size, $line-height, $color)
  text-transform: uppercase;
}
