.option-group {
  display: flex;
  flex-direction: column;

  &--checkbox {
    padding-bottom: 41px;
  }

  &--radio {
    padding-bottom: 42px;
  }
}

.option-group--checkbox > .option-group__item {
  margin-bottom: 42px;
}

.option-group--radio > .option-group__item {
  margin-bottom: 35px;
}

.option-group__item {
  min-height: 40px;
  position: relative;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.option-group__element {
  display: block;
}

.option-group__label {
  @include text (400, 18px, 30px, #283645);
}

.option-group__input[type="checkbox"] ~ .option-group__label {
  line-height: 39px;
  padding-left: 59px;
}

.option-group__input[type="radio"] ~ .option-group__label {
  line-height: 40px;
  padding-left: 70px;
}

.option-group__input[type="checkbox"] ~ .option-group__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 39px;
  height: 39px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  outline: none;
  cursor: pointer;

  @include animation;

  &:hover {
    border-color: #283645;
  }

  &:active {
    border-color: #d22856;
  }
}

.option-group__input[type="checkbox"]:focus + .option-group__element {
  border-color: #d22856;
}

.option-group__input[type="checkbox"]:checked ~ .option-group__element::before {
  content: "";
  top: 9px;
  left: 7px;
  position: absolute;
  width: 22px;
  height: 16px;
  background-image: url("../img/icon-checked.svg");
  background-repeat: no-repeat;
  // background-position: 7px 9px;
}

.option-group__input[type="radio"] ~ .option-group__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 41px;
  height: 41px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  outline: none;
  cursor: pointer;

  @include animation;

  &:hover {
    border-color: #283645;
  }

  &:active {
    border-color: #d22856;
  }
}

.option-group__input[type="radio"]:checked ~ .option-group__element::before {
  content: "";
  top: 11px;
  left: 11px;
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-map-marker.svg");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
}

.option-group__input[type="radio"]:focus + .option-group__element {
  @include animation;
  border-color: #d22856;
}


@media (min-width: 660px) {
  .option-group {
    &--checkbox {
      padding-bottom: 48px;
    }

    &--radio {
      padding-left: 40px;
      padding-bottom: 54px;
    }
  }

  .option-group__input[type="radio"] ~ .option-group__label {
    padding-left: 59px;
  }
}

@media (min-width: 980px) {
  .option-group {
    &--checkbox {
      flex-direction: row;
      flex-wrap: wrap;
      padding-bottom: 10px;
    }

    &--radio {
      padding-left: 54px;
    }
  }

  .option-group--checkbox .option-group__item:nth-child(3n+1) {
    flex: 0 1 315px;
  } // 1,4,7...

  .option-group--checkbox .option-group__item:nth-child(3n+2) {
    flex: 0 1 259px;
  } // 2,5,8...

  .option-group--checkbox .option-group__item:nth-child(3n+3) {
    flex-grow: 1;
  } // 3,6,9...

  .option-group--checkbox > .option-group__item {
    margin-bottom: 47px;
  }
}
