.slick-left {
  display: none;

  @include desktop {
    display: block;
    position: absolute;
    cursor: pointer;
    left: 0;
    bottom: calc(50% - 20px);
    z-index: 5;
  }
}

.slick-right {
  display: none;

  @include desktop {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 0;
    bottom: calc(50% - 20px);
    z-index: 5;
  }
}

.slick-arrow {
  opacity: 0.6;

  @include animation;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 18px;

  @include tablet {
    margin-top: 30px;
  }
}

.slick-dots li {
  flex-basis: 12px;
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }
}

.slick-dots button {
  font-size: 0;
  border: none;
  padding: 0;
  background-color: #283645;
  opacity: 0.3;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  cursor: pointer;

  @include animation;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}

.slick-active button {
  background-color: transparent;
  border: 3px solid #283645;
  opacity: 1;
  width: 12px;
  height: 12px;
}
